{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "indent": "off",
    "quotes": ["warn", "single"],
    "semi": ["warn", "never"],
    "no-unused-vars": "warn",
    "@typescript-eslint/indent": [
      "warn",
      2
    ]
  }
}
